<p><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Benvolgut/da,</span></span></p>

<p><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">L&rsquo;informem que Sant Andreu Salut ha publicat a HC3 un nou informe de pre-alta hospital&agrave;ria per al pacient amb CIP : VALENCIP</span></span></p>

<p><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Pot consultar aquest informe a trav&eacute;s del visor de l&rsquo;HC3.</span></span></p>

<p><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Cordialment,</span></span></p>

<table>
	<tbody>
		<tr>
			<td>
			<p><span style="font-size:10.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif"><span style="color:#44546a"><img alt="http://fssm.es/firma/sas.png" src="http://fssm.es/firma/sas.png" style="height:63px; width:115px" /></span></span></span></p>
			</td>
			<td>
			<p><strong><span style="font-size:9.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><span style="color:#00576f">HOSPITAL SANT ANDREU</span></span></span></strong><br />
			<span style="font-size:9.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><span style="color:#00576f">Remei de Dalt, 1-3</span></span></span><span style="font-size:9.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><span style="color:#00576f"> &middot; 08241 Manresa &middot; 93 874 33 12</span></span></span><br />
			<span style="color:#00576f"><a href="mailto:hospital@santandreusalut.cat"><strong><span style="font-size:9.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><span style="color:#00576f">hospital@santandreusalut.cat</span></span></span></strong></a></span><br />
			<span style="font-size:9.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><span style="color:#00576f"><a href="http://santandreusalut.cat/"><strong><span style="color:#00576f">santandreusalut.cat</span></strong></a></span></span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><a href="https://www.facebook.com/fssmanresa/" target="_blank"><span style="font-size:11.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><img alt="http://fssm.es/firma/fb.png" src="http://fssm.es/firma/fb.png" style="height:21px; width:21px" /></span></span></a><a href="https://twitter.com/StAndreuSalut" target="_blank"><span style="font-size:11.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><img alt="http://fssm.es/firma/tw.png" src="http://fssm.es/firma/tw.png" style="height:21px; width:21px" /></span></span></a><a href="https://www.instagram.com/standreusalut/" target="_blank"><span style="font-size:11.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><img alt="http://fssm.es/firma/ig.png" src="http://fssm.es/firma/ig.png" style="height:21px; width:21px" /></span></span></a><a href="https://www.linkedin.com/in/fssmanresa/" target="_blank"><span style="font-size:11.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><img alt="http://fssm.es/firma/in.png" src="http://fssm.es/firma/in.png" style="height:21px; width:21px" /></span></span></a></p>

<p><span style="font-size:7.0pt"><span style="font-family:&quot;Helvetica&quot;,sans-serif"><span style="color:#25cad3">Aquest missatge es dirigeix exclusivament al seu destinatari i pot contenir informaci&oacute; privilegiada o confidencial. Si no &eacute;s vost&eacute; el destinatari indicat, queda notificat que la utilitzaci&oacute;, divulgaci&oacute; i/o c&ograve;pia sense autoritzaci&oacute; est&agrave; prohibida en virtut de la legislaci&oacute; vigent. Si ha rebut aquest missatge per error, li preguem que ens ho comuniqui immediatament per aquesta mateixa via i precedeixi a la seva destrucci&oacute;.<br />
No m&rsquo;imprimeixis si no &eacute;s necessari. Protegim el medi ambient. </span></span></span></p>
